/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// headings
$presentation-heading-font: "Yanone Kaffeesatz", "Palatino Linotype", "Book Antiqua", Palatino, sans-serif, !default;
$presentation-heading-color: #cc0033 !default;
$presentation-heading-font-weight: 400 !default;
$presentation-title-slide-text-align: left !default;

.title {
  padding-top: 200px !important;
  font-size: 1.35em !important;
}

.subtitle {
  color: #666666 !important;
  font-size: 1.25em !important;
  line-height: 0.75em !important;
}

.author {
  text-align: left !important;
  font-size: 0.90em !important;
  line-height: 0.75em !important;
} 

.institute {
  font-size: 0.90em !important;
  line-height: 0.85em !important;
}

.date {
  font-size: 0.90em !important;
  line-height: 0.85em !important;
}

$presentation-h1-font-size: 2.0em !default;
$presentation-h2-font-size: 1.75em !default;
$presentation-h3-font-size: 1.25em !default;
$presentation-h3-color: #818181 !default;

h3 {
  color: #616161 !important;
}

$body-bg: #fff;
$body-color: #000;
$link-color: #42affa;
$selection-bg: #818181 !default;
$selection-color: #fff !default;


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}

/* remove color from tables */
table, th, td {
  border-top: 2px solid;
  border-color: white;
  line-height: 0.75em !important;
}
