/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

// fonts
$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino,
  FreeSerif, serif !default;

// headings
$presentation-heading-font: "Yanone Kaffeesatz", "Palatino Linotype", "Book Antiqua", Palatino, sans-serif, !default;
$presentation-heading-color: #cc0033 !default;
$presentation-heading-font-weight: 400 !default;
$presentation-title-slide-text-align: left !default;


$presentation-h1-font-size: 2.0em !default;
$presentation-h2-font-size: 1.75em !default;
$presentation-h3-font-size: 1.25em !default;
$presentation-h3-color: #818181 !default;

$body-bg: #fff;
$body-color: #000;
$link-color: #42affa;
$selection-bg: #818181 !default;
$selection-color: #fff !default;


/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}
